workflows/vault-ops.json
{
  "name": "Claude.ai Vault Operations",
  "description": "Unified Claude.ai Vault Operations Workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vault",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "YOUR_UUID",
      "name": "Webhook",
      "webhookId": "YOUR_UUID"
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\n\n// All git commands use -c safe.directory=/vault since n8n task runner\n// does not inherit the container's GIT_CONFIG_GLOBAL env var\nconst GIT = 'git -c safe.directory=/vault';\n\n// Stash any untracked/modified files to prevent pull conflicts\nlet hasStash = false;\ntry {\n  execSync(`cd /vault && ${GIT} add -A`, { encoding: 'utf-8', timeout: 5000 });\n  const stashOut = execSync(`cd /vault && ${GIT} stash`, { encoding: 'utf-8', timeout: 5000 });\n  hasStash = !stashOut.includes('No local changes');\n} catch (e) {\n  // No changes to stash — continue\n}\n\ntry {\n  execSync(`cd /vault && ${GIT} pull --ff-only`, { encoding: 'utf-8', timeout: 10000 });\n} catch (err) {\n  try {\n    execSync(`cd /vault && ${GIT} pull --rebase`, { encoding: 'utf-8', timeout: 10000 });\n  } catch (rebaseErr) {\n    if (hasStash) try { execSync(`cd /vault && ${GIT} stash pop`, { encoding: 'utf-8' }); } catch(e) {}\n    throw new Error('Git pull failed: ' + rebaseErr.message);\n  }\n}\n\nif (hasStash) {\n  try {\n    execSync(`cd /vault && ${GIT} stash pop`, { encoding: 'utf-8', timeout: 5000 });\n  } catch (e) {\n    // Stash pop conflict — keep both versions\n  }\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "YOUR_UUID",
      "name": "Git Pull"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "read",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "YOUR_UUID"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_UUID",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "write",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_UUID",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_UUID",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "mkdir",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_UUID",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_UUID",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "rename",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_UUID",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "git_commit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_UUID",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "repo_read",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_UUID",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "repo_list",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_UUID",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "repo_commits",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_UUID",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "repo_diff",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "YOUR_UUID",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "search",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        320,
        -80
      ],
      "id": "YOUR_UUID",
      "name": "Route Action"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst filePath = $input.first().json.body.path;\n\ntry {\n  const content = fs.readFileSync('/vault/' + filePath, 'utf-8');\n  return [{ json: { success: true, content, path: filePath } }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message, path: filePath } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -720
      ],
      "id": "YOUR_UUID",
      "name": "Read File"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst pathMod = require('path');\nconst filePath = $input.first().json.body.path;\nconst content = $input.first().json.body.content;\nconst fullPath = '/vault/' + filePath;\n\nfs.mkdirSync(pathMod.dirname(fullPath), { recursive: true });\nfs.writeFileSync(fullPath, content, 'utf-8');\n\nreturn [{ json: { success: true, path: filePath, action: 'write' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -576
      ],
      "id": "YOUR_UUID",
      "name": "Write File"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst dirPath = $input.first().json.body.path || '';\nconst fullPath = '/vault/' + dirPath;\n\ntry {\n  const entries = fs.readdirSync(fullPath, { withFileTypes: true }).map(e => ({\n    name: e.name,\n    type: e.isDirectory() ? 'directory' : 'file'\n  }));\n  return [{ json: { success: true, entries, path: dirPath } }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message, path: dirPath } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -432
      ],
      "id": "YOUR_UUID",
      "name": "List Directory"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst dirPath = $input.first().json.body.path;\n\nfs.mkdirSync('/vault/' + dirPath, { recursive: true });\n\nreturn [{ json: { success: true, path: dirPath, action: 'mkdir' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -272
      ],
      "id": "YOUR_UUID",
      "name": "Create Directory"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst filePath = $input.first().json.body.path;\n\ntry {\n  const stat = fs.statSync('/vault/' + filePath);\n  if (stat.isDirectory()) {\n    fs.rmSync('/vault/' + filePath, { recursive: true });\n  } else {\n    fs.unlinkSync('/vault/' + filePath);\n  }\n  return [{ json: { success: true, path: filePath, action: 'delete' } }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message, path: filePath } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -128
      ],
      "id": "YOUR_UUID",
      "name": "Delete File"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst pathMod = require('path');\nconst oldPath = $input.first().json.body.path;\nconst newPath = $input.first().json.body.newPath;\n\nfs.mkdirSync(pathMod.dirname('/vault/' + newPath), { recursive: true });\nfs.renameSync('/vault/' + oldPath, '/vault/' + newPath);\n\nreturn [{ json: { success: true, oldPath, newPath, action: 'rename' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        16
      ],
      "id": "YOUR_UUID",
      "name": "Rename"
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\n\nconst body = $input.first().json.body || $input.first().json;\nconst action = body.action || 'unknown';\nconst message = body.message ||\n  ('vault: ' + action + ' ' + (body.path || '')).trim();\n\n// All git commands use -c safe.directory=/vault since n8n task runner\n// does not inherit the container's GIT_CONFIG_GLOBAL env var\nconst GIT = 'git -c safe.directory=/vault';\n\ntry {\n  execSync(`cd /vault && ${GIT} add -A`, { encoding: 'utf-8' });\n\n  try {\n    execSync(`cd /vault && ${GIT} diff --cached --quiet`, { encoding: 'utf-8' });\n    return [{ json: { committed: false, message: 'No changes to commit' } }];\n  } catch (diffErr) {\n    // Has changes — continue\n  }\n\n  execSync(\n    `cd /vault && ${GIT} commit -m \"` + message.replace(/\"/g, '\\\\\"') + '\"',\n    { encoding: 'utf-8' }\n  );\n  execSync(`cd /vault && ${GIT} push`, { encoding: 'utf-8', timeout: 15000 });\n\n  return [{ json: { committed: true, message } }];\n} catch (err) {\n  return [{ json: { committed: false, error: err.message } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        208
      ],
      "id": "YOUR_UUID",
      "name": "Git Commit"
    },
    {
      "parameters": {
        "jsCode": "const { execFileSync } = require('child_process');\nconst fs = require('fs');\n\n/**\n * Read Forgejo API token from file (stored in n8n data dir, not hardcoded).\n * Path inside container: /home/node/.n8n/forgejo-token\n */\nfunction getToken() {\n  return fs.readFileSync('/home/node/.n8n/forgejo-token', 'utf-8').trim();\n}\n\n/**\n * Call Forgejo API via wget (available on Alpine, curl is not).\n * Returns parsed JSON or throws on error.\n */\nfunction forgejoGet(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  const result = execFileSync('wget', [\n    '-q', '-O', '-',\n    '--header=Authorization: token ' + token,\n    url\n  ], { encoding: 'utf-8', timeout: 15000 });\n  return JSON.parse(result);\n}\n\n/**\n * Fetch raw text (for .diff endpoints) via wget.\n * Returns raw string or null on error.\n */\nfunction forgejoGetRaw(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  try {\n    return execFileSync('wget', [\n      '-q', '-O', '-',\n      '--header=Authorization: token ' + token,\n      url\n    ], { encoding: 'utf-8', timeout: 15000 });\n  } catch (e) {\n    return null;\n  }\n}\n\nconst body = $input.first().json.body;\nconst repo = body.repo;\nconst filePath = body.path || '';\nconst ref = body.ref || 'main';\n\ntry {\n  const encodedPath = filePath.split('/').map(encodeURIComponent).join('/');\n  const data = forgejoGet(\n    `/repos/stmna-io/${encodeURIComponent(repo)}/contents/${encodedPath}?ref=${encodeURIComponent(ref)}`\n  );\n\n  // Array = directory listing (caller used wrong action)\n  if (Array.isArray(data)) {\n    return [{ json: { success: false, error: 'Path is a directory — use repo_list instead', path: filePath, repo } }];\n  }\n\n  // Decode base64 content for text files\n  if (data.content && data.encoding === 'base64') {\n    const decoded = Buffer.from(data.content, 'base64').toString('utf-8');\n    return [{ json: { success: true, content: decoded, path: data.path, repo, ref, sha: data.sha, size: data.size } }];\n  }\n\n  // Binary file — return metadata only\n  return [{ json: { success: true, binary: true, path: data.path, repo, ref, sha: data.sha, size: data.size } }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message, path: filePath, repo } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        200
      ],
      "id": "YOUR_UUID",
      "name": "Repo Read File"
    },
    {
      "parameters": {
        "jsCode": "const { execFileSync } = require('child_process');\nconst fs = require('fs');\n\n/**\n * Read Forgejo API token from file (stored in n8n data dir, not hardcoded).\n * Path inside container: /home/node/.n8n/forgejo-token\n */\nfunction getToken() {\n  return fs.readFileSync('/home/node/.n8n/forgejo-token', 'utf-8').trim();\n}\n\n/**\n * Call Forgejo API via wget (available on Alpine, curl is not).\n * Returns parsed JSON or throws on error.\n */\nfunction forgejoGet(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  const result = execFileSync('wget', [\n    '-q', '-O', '-',\n    '--header=Authorization: token ' + token,\n    url\n  ], { encoding: 'utf-8', timeout: 15000 });\n  return JSON.parse(result);\n}\n\n/**\n * Fetch raw text (for .diff endpoints) via wget.\n * Returns raw string or null on error.\n */\nfunction forgejoGetRaw(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  try {\n    return execFileSync('wget', [\n      '-q', '-O', '-',\n      '--header=Authorization: token ' + token,\n      url\n    ], { encoding: 'utf-8', timeout: 15000 });\n  } catch (e) {\n    return null;\n  }\n}\n\nconst body = $input.first().json.body;\nconst repo = body.repo;\nconst dirPath = body.path || '';\nconst ref = body.ref || 'main';\n\ntry {\n  const encodedPath = dirPath.split('/').filter(Boolean).map(encodeURIComponent).join('/');\n  const data = forgejoGet(\n    `/repos/stmna-io/${encodeURIComponent(repo)}/contents/${encodedPath}?ref=${encodeURIComponent(ref)}`\n  );\n\n  // Single file = not a directory\n  if (!Array.isArray(data)) {\n    return [{ json: { success: false, error: 'Path is a file — use repo_read instead', path: dirPath, repo } }];\n  }\n\n  const entries = data.map(e => ({\n    name: e.name,\n    type: e.type,  // \"file\" or \"dir\"\n    size: e.size || 0,\n    path: e.path\n  }));\n\n  return [{ json: { success: true, entries, path: dirPath, repo, ref } }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message, path: dirPath, repo } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        344
      ],
      "id": "YOUR_UUID",
      "name": "Repo List Dir"
    },
    {
      "parameters": {
        "jsCode": "const { execFileSync } = require('child_process');\nconst fs = require('fs');\n\n/**\n * Read Forgejo API token from file (stored in n8n data dir, not hardcoded).\n * Path inside container: /home/node/.n8n/forgejo-token\n */\nfunction getToken() {\n  return fs.readFileSync('/home/node/.n8n/forgejo-token', 'utf-8').trim();\n}\n\n/**\n * Call Forgejo API via wget (available on Alpine, curl is not).\n * Returns parsed JSON or throws on error.\n */\nfunction forgejoGet(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  const result = execFileSync('wget', [\n    '-q', '-O', '-',\n    '--header=Authorization: token ' + token,\n    url\n  ], { encoding: 'utf-8', timeout: 15000 });\n  return JSON.parse(result);\n}\n\n/**\n * Fetch raw text (for .diff endpoints) via wget.\n * Returns raw string or null on error.\n */\nfunction forgejoGetRaw(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  try {\n    return execFileSync('wget', [\n      '-q', '-O', '-',\n      '--header=Authorization: token ' + token,\n      url\n    ], { encoding: 'utf-8', timeout: 15000 });\n  } catch (e) {\n    return null;\n  }\n}\n\nconst body = $input.first().json.body;\nconst repo = body.repo;\nconst filePath = body.path || '';\nconst ref = body.ref || 'main';\nconst limit = body.limit || 10;\n\ntry {\n  // Forgejo commit list endpoint: /repos/{owner}/{repo}/commits\n  // (NOT /git/commits — that 404s on Forgejo)\n  let apiPath = `/repos/stmna-io/${encodeURIComponent(repo)}/commits?sha=${encodeURIComponent(ref)}&limit=${limit}`;\n  if (filePath) {\n    apiPath += `&path=${encodeURIComponent(filePath)}`;\n  }\n\n  const data = forgejoGet(apiPath);\n\n  // Forgejo returns an array of commit objects\n  const commits = (Array.isArray(data) ? data : []).map(c => ({\n    sha: c.sha || '',\n    message: (c.commit && c.commit.message) || c.message || '',\n    date: (c.commit && c.commit.author && c.commit.author.date) || c.created || '',\n    author: (c.commit && c.commit.author && c.commit.author.name) ||\n            (c.author && c.author.login) || 'unknown'\n  }));\n\n  return [{ json: { success: true, commits, path: filePath || null, repo, ref } }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message, path: filePath, repo } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        488
      ],
      "id": "YOUR_UUID",
      "name": "Repo Commits"
    },
    {
      "parameters": {
        "jsCode": "const { execFileSync } = require('child_process');\nconst fs = require('fs');\n\n/**\n * Read Forgejo API token from file (stored in n8n data dir, not hardcoded).\n * Path inside container: /home/node/.n8n/forgejo-token\n */\nfunction getToken() {\n  return fs.readFileSync('/home/node/.n8n/forgejo-token', 'utf-8').trim();\n}\n\n/**\n * Call Forgejo API via wget (available on Alpine, curl is not).\n * Returns parsed JSON or throws on error.\n */\nfunction forgejoGet(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  const result = execFileSync('wget', [\n    '-q', '-O', '-',\n    '--header=Authorization: token ' + token,\n    url\n  ], { encoding: 'utf-8', timeout: 15000 });\n  return JSON.parse(result);\n}\n\n/**\n * Fetch raw text (for .diff endpoints) via wget.\n * Returns raw string or null on error.\n */\nfunction forgejoGetRaw(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  try {\n    return execFileSync('wget', [\n      '-q', '-O', '-',\n      '--header=Authorization: token ' + token,\n      url\n    ], { encoding: 'utf-8', timeout: 15000 });\n  } catch (e) {\n    return null;\n  }\n}\n\nconst body = $input.first().json.body;\nconst repo = body.repo;\nconst sha = body.sha;\n\nif (!sha) {\n  return [{ json: { success: false, error: 'sha parameter is required', repo } }];\n}\n\ntry {\n  // Forgejo /git/commits/{sha} returns commit metadata + files + stats\n  // Accepts short or full SHA\n  const data = forgejoGet(\n    `/repos/stmna-io/${encodeURIComponent(repo)}/git/commits/${encodeURIComponent(sha)}`\n  );\n\n  const response = {\n    success: true,\n    sha: data.sha || sha,\n    message: (data.commit && data.commit.message) || '',\n    date: (data.commit && data.commit.author && data.commit.author.date) || data.created || '',\n    repo\n  };\n\n  // Stats: total additions/deletions for the commit\n  if (data.stats) {\n    response.stats = {\n      additions: data.stats.additions || 0,\n      deletions: data.stats.deletions || 0,\n      total: data.stats.total || 0\n    };\n  }\n\n  // Files: which files changed and how\n  if (data.files && Array.isArray(data.files)) {\n    response.files = data.files.map(f => ({\n      filename: f.filename,\n      status: f.status  // \"added\", \"modified\", \"removed\"\n    }));\n  }\n\n  // Parent SHA (useful for comparing versions with repo_read)\n  if (data.parents && data.parents.length > 0) {\n    response.parent_sha = data.parents[0].sha;\n  }\n\n  return [{ json: response }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message, sha, repo } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        632
      ],
      "id": "YOUR_UUID",
      "name": "Repo Diff"
    },
    {
      "parameters": {
        "jsCode": "const { execFileSync } = require('child_process');\n\n/**\n * Embed Query — Calls TEI to get a 1024-dim vector for semantic search.\n *\n * Input (from webhook body):\n *   - query: string (required) — the search text\n *   - type_filter: string (optional) — filter by metadata type\n *   - top_k: number (optional, default 5, max 20)\n */\nconst body = $input.first().json.body;\nconst query = body.query;\nconst typeFilter = body.type_filter || null;\nconst topK = Math.min(Math.max(parseInt(body.top_k) || 5, 1), 20);\n\nif (!query || query.trim().length === 0) {\n  return [{ json: { success: false, error: 'query parameter is required' } }];\n}\n\n// Validate type_filter (alphanumeric + hyphen only)\nif (typeFilter && !/^[a-z0-9_-]+$/i.test(typeFilter)) {\n  return [{ json: { success: false, error: 'Invalid type_filter value' } }];\n}\n\ntry {\n  const payload = JSON.stringify({ inputs: [query.trim()] });\n\n  // Call TEI via wget (Alpine container — no curl)\n  const result = execFileSync('wget', [\n    '-q', '-O', '-',\n    '--post-data=' + payload,\n    '--header=Content-Type: application/json',\n    '--timeout=30',\n    'http://text-embeddings:80/embed'\n  ], { encoding: 'utf-8', timeout: 35000 });\n\n  const embeddings = JSON.parse(result);\n  const vector = embeddings[0];\n\n  if (!Array.isArray(vector) || vector.length !== 1024) {\n    return [{ json: {\n      success: false,\n      error: 'TEI returned unexpected shape: ' + (Array.isArray(vector) ? vector.length : typeof vector)\n    } }];\n  }\n\n  // Format as PostgreSQL vector literal\n  const vectorStr = '[' + vector.join(',') + ']';\n\n  return [{ json: { query: query.trim(), typeFilter, topK, vectorStr } }];\n} catch (err) {\n  return [{ json: { success: false, error: 'Embedding failed: ' + err.message } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        776
      ],
      "id": "YOUR_UUID",
      "name": "Embed Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT file_path, heading, LEFT(content, 500) as content_snippet, metadata->>'type' as type, metadata->>'title' as title, ROUND((1 - (embedding <=> '{{ $json.vectorStr }}'::vector))::numeric, 4) as similarity FROM vault_embeddings WHERE ({{ $json.typeFilter ? \"metadata->>'type' = '\" + $json.typeFilter + \"'\" : \"TRUE\" }}) ORDER BY embedding <=> '{{ $json.vectorStr }}'::vector LIMIT {{ $json.topK }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        960,
        776
      ],
      "id": "YOUR_UUID",
      "name": "Search PGVector",
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_POSTGRES_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Format Search Results — formats PGVector output into clean response.\n * PostgreSQL nodes don't pass through input, so we reference Embed Query directly.\n */\nconst embedData = $('Embed Query').first().json;\n\n// Check if Embed Query itself returned an error\nif (embedData.success === false) {\n  return [{ json: embedData }];\n}\n\n// Get all items from the PostgreSQL node output\nconst results = $input.all().map(item => item.json);\n\n// Handle no results\nif (!results || results.length === 0 || !results[0].file_path) {\n  return [{ json: {\n    success: true,\n    query: embedData.query,\n    type_filter: embedData.typeFilter,\n    results: [],\n    count: 0,\n    message: 'No matching vault entries found'\n  } }];\n}\n\n// Format results\nconst formatted = results.map(r => ({\n  file_path: r.file_path,\n  heading: r.heading || null,\n  content_snippet: r.content_snippet,\n  type: r.type || null,\n  title: r.title || null,\n  similarity: parseFloat(r.similarity)\n}));\n\nreturn [{ json: {\n  success: true,\n  query: embedData.query,\n  type_filter: embedData.typeFilter,\n  results: formatted,\n  count: formatted.length\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        776
      ],
      "id": "YOUR_UUID",
      "name": "Format Search Results"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Git Pull",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Pull": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Directory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Directory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rename",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Git Commit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Repo Read File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Repo List Dir",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Repo Commits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Repo Diff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Embed Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write File": {
      "main": [
        [
          {
            "node": "Git Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Directory": {
      "main": [
        [
          {
            "node": "Git Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete File": {
      "main": [
        [
          {
            "node": "Git Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename": {
      "main": [
        [
          {
            "node": "Git Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Query": {
      "main": [
        [
          {
            "node": "Search PGVector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search PGVector": {
      "main": [
        [
          {
            "node": "Format Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "activeVersionId": "YOUR_UUID",
  "versionCounter": 236,
  "triggerCount": 1,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-03T13:51:05.554Z",
    "createdAt": "2026-03-03T13:51:05.554Z",
    "versionId": "YOUR_UUID",
    "workflowId": "qusGFx5yuU44swoW",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "vault",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "YOUR_UUID",
        "name": "Webhook",
        "webhookId": "YOUR_UUID"
      },
      {
        "parameters": {
          "jsCode": "const { execSync } = require('child_process');\n\n// All git commands use -c safe.directory=/vault since n8n task runner\n// does not inherit the container's GIT_CONFIG_GLOBAL env var\nconst GIT = 'git -c safe.directory=/vault';\n\n// Stash any untracked/modified files to prevent pull conflicts\nlet hasStash = false;\ntry {\n  execSync(`cd /vault && ${GIT} add -A`, { encoding: 'utf-8', timeout: 5000 });\n  const stashOut = execSync(`cd /vault && ${GIT} stash`, { encoding: 'utf-8', timeout: 5000 });\n  hasStash = !stashOut.includes('No local changes');\n} catch (e) {\n  // No changes to stash — continue\n}\n\ntry {\n  execSync(`cd /vault && ${GIT} pull --ff-only`, { encoding: 'utf-8', timeout: 10000 });\n} catch (err) {\n  try {\n    execSync(`cd /vault && ${GIT} pull --rebase`, { encoding: 'utf-8', timeout: 10000 });\n  } catch (rebaseErr) {\n    if (hasStash) try { execSync(`cd /vault && ${GIT} stash pop`, { encoding: 'utf-8' }); } catch(e) {}\n    throw new Error('Git pull failed: ' + rebaseErr.message);\n  }\n}\n\nif (hasStash) {\n  try {\n    execSync(`cd /vault && ${GIT} stash pop`, { encoding: 'utf-8', timeout: 5000 });\n  } catch (e) {\n    // Stash pop conflict — keep both versions\n  }\n}\n\nreturn $input.all();\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          0
        ],
        "id": "YOUR_UUID",
        "name": "Git Pull"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.action }}",
                      "rightValue": "read",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "YOUR_UUID"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "YOUR_UUID",
                      "leftValue": "={{ $json.body.action }}",
                      "rightValue": "write",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "YOUR_UUID",
                      "leftValue": "={{ $json.body.action }}",
                      "rightValue": "list",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "YOUR_UUID",
                      "leftValue": "={{ $json.body.action }}",
                      "rightValue": "mkdir",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "YOUR_UUID",
                      "leftValue": "={{ $json.body.action }}",
                      "rightValue": "delete",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "YOUR_UUID",
                      "leftValue": "={{ $json.body.action }}",
                      "rightValue": "rename",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "YOUR_UUID",
                      "leftValue": "={{ $json.body.action }}",
                      "rightValue": "git_commit",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "YOUR_UUID",
                      "leftValue": "={{ $json.body.action }}",
                      "rightValue": "repo_read",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "YOUR_UUID",
                      "leftValue": "={{ $json.body.action }}",
                      "rightValue": "repo_list",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "YOUR_UUID",
                      "leftValue": "={{ $json.body.action }}",
                      "rightValue": "repo_commits",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "YOUR_UUID",
                      "leftValue": "={{ $json.body.action }}",
                      "rightValue": "repo_diff",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "YOUR_UUID",
                      "leftValue": "={{ $json.body.action }}",
                      "rightValue": "search",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          320,
          -80
        ],
        "id": "YOUR_UUID",
        "name": "Route Action"
      },
      {
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst filePath = $input.first().json.body.path;\n\ntry {\n  const content = fs.readFileSync('/vault/' + filePath, 'utf-8');\n  return [{ json: { success: true, content, path: filePath } }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message, path: filePath } }];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          -720
        ],
        "id": "YOUR_UUID",
        "name": "Read File"
      },
      {
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst pathMod = require('path');\nconst filePath = $input.first().json.body.path;\nconst content = $input.first().json.body.content;\nconst fullPath = '/vault/' + filePath;\n\nfs.mkdirSync(pathMod.dirname(fullPath), { recursive: true });\nfs.writeFileSync(fullPath, content, 'utf-8');\n\nreturn [{ json: { success: true, path: filePath, action: 'write' } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          -576
        ],
        "id": "YOUR_UUID",
        "name": "Write File"
      },
      {
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst dirPath = $input.first().json.body.path || '';\nconst fullPath = '/vault/' + dirPath;\n\ntry {\n  const entries = fs.readdirSync(fullPath, { withFileTypes: true }).map(e => ({\n    name: e.name,\n    type: e.isDirectory() ? 'directory' : 'file'\n  }));\n  return [{ json: { success: true, entries, path: dirPath } }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message, path: dirPath } }];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          -432
        ],
        "id": "YOUR_UUID",
        "name": "List Directory"
      },
      {
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst dirPath = $input.first().json.body.path;\n\nfs.mkdirSync('/vault/' + dirPath, { recursive: true });\n\nreturn [{ json: { success: true, path: dirPath, action: 'mkdir' } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          -272
        ],
        "id": "YOUR_UUID",
        "name": "Create Directory"
      },
      {
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst filePath = $input.first().json.body.path;\n\ntry {\n  const stat = fs.statSync('/vault/' + filePath);\n  if (stat.isDirectory()) {\n    fs.rmSync('/vault/' + filePath, { recursive: true });\n  } else {\n    fs.unlinkSync('/vault/' + filePath);\n  }\n  return [{ json: { success: true, path: filePath, action: 'delete' } }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message, path: filePath } }];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          -128
        ],
        "id": "YOUR_UUID",
        "name": "Delete File"
      },
      {
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst pathMod = require('path');\nconst oldPath = $input.first().json.body.path;\nconst newPath = $input.first().json.body.newPath;\n\nfs.mkdirSync(pathMod.dirname('/vault/' + newPath), { recursive: true });\nfs.renameSync('/vault/' + oldPath, '/vault/' + newPath);\n\nreturn [{ json: { success: true, oldPath, newPath, action: 'rename' } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          16
        ],
        "id": "YOUR_UUID",
        "name": "Rename"
      },
      {
        "parameters": {
          "jsCode": "const { execSync } = require('child_process');\n\nconst body = $input.first().json.body || $input.first().json;\nconst action = body.action || 'unknown';\nconst message = body.message ||\n  ('vault: ' + action + ' ' + (body.path || '')).trim();\n\n// All git commands use -c safe.directory=/vault since n8n task runner\n// does not inherit the container's GIT_CONFIG_GLOBAL env var\nconst GIT = 'git -c safe.directory=/vault';\n\ntry {\n  execSync(`cd /vault && ${GIT} add -A`, { encoding: 'utf-8' });\n\n  try {\n    execSync(`cd /vault && ${GIT} diff --cached --quiet`, { encoding: 'utf-8' });\n    return [{ json: { committed: false, message: 'No changes to commit' } }];\n  } catch (diffErr) {\n    // Has changes — continue\n  }\n\n  execSync(\n    `cd /vault && ${GIT} commit -m \"` + message.replace(/\"/g, '\\\\\"') + '\"',\n    { encoding: 'utf-8' }\n  );\n  execSync(`cd /vault && ${GIT} push`, { encoding: 'utf-8', timeout: 15000 });\n\n  return [{ json: { committed: true, message } }];\n} catch (err) {\n  return [{ json: { committed: false, error: err.message } }];\n}\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1104,
          208
        ],
        "id": "YOUR_UUID",
        "name": "Git Commit"
      },
      {
        "parameters": {
          "jsCode": "const { execFileSync } = require('child_process');\nconst fs = require('fs');\n\n/**\n * Read Forgejo API token from file (stored in n8n data dir, not hardcoded).\n * Path inside container: /home/node/.n8n/forgejo-token\n */\nfunction getToken() {\n  return fs.readFileSync('/home/node/.n8n/forgejo-token', 'utf-8').trim();\n}\n\n/**\n * Call Forgejo API via wget (available on Alpine, curl is not).\n * Returns parsed JSON or throws on error.\n */\nfunction forgejoGet(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  const result = execFileSync('wget', [\n    '-q', '-O', '-',\n    '--header=Authorization: token ' + token,\n    url\n  ], { encoding: 'utf-8', timeout: 15000 });\n  return JSON.parse(result);\n}\n\n/**\n * Fetch raw text (for .diff endpoints) via wget.\n * Returns raw string or null on error.\n */\nfunction forgejoGetRaw(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  try {\n    return execFileSync('wget', [\n      '-q', '-O', '-',\n      '--header=Authorization: token ' + token,\n      url\n    ], { encoding: 'utf-8', timeout: 15000 });\n  } catch (e) {\n    return null;\n  }\n}\n\nconst body = $input.first().json.body;\nconst repo = body.repo;\nconst filePath = body.path || '';\nconst ref = body.ref || 'main';\n\ntry {\n  const encodedPath = filePath.split('/').map(encodeURIComponent).join('/');\n  const data = forgejoGet(\n    `/repos/stmna-io/${encodeURIComponent(repo)}/contents/${encodedPath}?ref=${encodeURIComponent(ref)}`\n  );\n\n  // Array = directory listing (caller used wrong action)\n  if (Array.isArray(data)) {\n    return [{ json: { success: false, error: 'Path is a directory — use repo_list instead', path: filePath, repo } }];\n  }\n\n  // Decode base64 content for text files\n  if (data.content && data.encoding === 'base64') {\n    const decoded = Buffer.from(data.content, 'base64').toString('utf-8');\n    return [{ json: { success: true, content: decoded, path: data.path, repo, ref, sha: data.sha, size: data.size } }];\n  }\n\n  // Binary file — return metadata only\n  return [{ json: { success: true, binary: true, path: data.path, repo, ref, sha: data.sha, size: data.size } }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message, path: filePath, repo } }];\n}\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          200
        ],
        "id": "YOUR_UUID",
        "name": "Repo Read File"
      },
      {
        "parameters": {
          "jsCode": "const { execFileSync } = require('child_process');\nconst fs = require('fs');\n\n/**\n * Read Forgejo API token from file (stored in n8n data dir, not hardcoded).\n * Path inside container: /home/node/.n8n/forgejo-token\n */\nfunction getToken() {\n  return fs.readFileSync('/home/node/.n8n/forgejo-token', 'utf-8').trim();\n}\n\n/**\n * Call Forgejo API via wget (available on Alpine, curl is not).\n * Returns parsed JSON or throws on error.\n */\nfunction forgejoGet(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  const result = execFileSync('wget', [\n    '-q', '-O', '-',\n    '--header=Authorization: token ' + token,\n    url\n  ], { encoding: 'utf-8', timeout: 15000 });\n  return JSON.parse(result);\n}\n\n/**\n * Fetch raw text (for .diff endpoints) via wget.\n * Returns raw string or null on error.\n */\nfunction forgejoGetRaw(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  try {\n    return execFileSync('wget', [\n      '-q', '-O', '-',\n      '--header=Authorization: token ' + token,\n      url\n    ], { encoding: 'utf-8', timeout: 15000 });\n  } catch (e) {\n    return null;\n  }\n}\n\nconst body = $input.first().json.body;\nconst repo = body.repo;\nconst dirPath = body.path || '';\nconst ref = body.ref || 'main';\n\ntry {\n  const encodedPath = dirPath.split('/').filter(Boolean).map(encodeURIComponent).join('/');\n  const data = forgejoGet(\n    `/repos/stmna-io/${encodeURIComponent(repo)}/contents/${encodedPath}?ref=${encodeURIComponent(ref)}`\n  );\n\n  // Single file = not a directory\n  if (!Array.isArray(data)) {\n    return [{ json: { success: false, error: 'Path is a file — use repo_read instead', path: dirPath, repo } }];\n  }\n\n  const entries = data.map(e => ({\n    name: e.name,\n    type: e.type,  // \"file\" or \"dir\"\n    size: e.size || 0,\n    path: e.path\n  }));\n\n  return [{ json: { success: true, entries, path: dirPath, repo, ref } }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message, path: dirPath, repo } }];\n}\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          344
        ],
        "id": "YOUR_UUID",
        "name": "Repo List Dir"
      },
      {
        "parameters": {
          "jsCode": "const { execFileSync } = require('child_process');\nconst fs = require('fs');\n\n/**\n * Read Forgejo API token from file (stored in n8n data dir, not hardcoded).\n * Path inside container: /home/node/.n8n/forgejo-token\n */\nfunction getToken() {\n  return fs.readFileSync('/home/node/.n8n/forgejo-token', 'utf-8').trim();\n}\n\n/**\n * Call Forgejo API via wget (available on Alpine, curl is not).\n * Returns parsed JSON or throws on error.\n */\nfunction forgejoGet(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  const result = execFileSync('wget', [\n    '-q', '-O', '-',\n    '--header=Authorization: token ' + token,\n    url\n  ], { encoding: 'utf-8', timeout: 15000 });\n  return JSON.parse(result);\n}\n\n/**\n * Fetch raw text (for .diff endpoints) via wget.\n * Returns raw string or null on error.\n */\nfunction forgejoGetRaw(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  try {\n    return execFileSync('wget', [\n      '-q', '-O', '-',\n      '--header=Authorization: token ' + token,\n      url\n    ], { encoding: 'utf-8', timeout: 15000 });\n  } catch (e) {\n    return null;\n  }\n}\n\nconst body = $input.first().json.body;\nconst repo = body.repo;\nconst filePath = body.path || '';\nconst ref = body.ref || 'main';\nconst limit = body.limit || 10;\n\ntry {\n  // Forgejo commit list endpoint: /repos/{owner}/{repo}/commits\n  // (NOT /git/commits — that 404s on Forgejo)\n  let apiPath = `/repos/stmna-io/${encodeURIComponent(repo)}/commits?sha=${encodeURIComponent(ref)}&limit=${limit}`;\n  if (filePath) {\n    apiPath += `&path=${encodeURIComponent(filePath)}`;\n  }\n\n  const data = forgejoGet(apiPath);\n\n  // Forgejo returns an array of commit objects\n  const commits = (Array.isArray(data) ? data : []).map(c => ({\n    sha: c.sha || '',\n    message: (c.commit && c.commit.message) || c.message || '',\n    date: (c.commit && c.commit.author && c.commit.author.date) || c.created || '',\n    author: (c.commit && c.commit.author && c.commit.author.name) ||\n            (c.author && c.author.login) || 'unknown'\n  }));\n\n  return [{ json: { success: true, commits, path: filePath || null, repo, ref } }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message, path: filePath, repo } }];\n}\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          488
        ],
        "id": "YOUR_UUID",
        "name": "Repo Commits"
      },
      {
        "parameters": {
          "jsCode": "const { execFileSync } = require('child_process');\nconst fs = require('fs');\n\n/**\n * Read Forgejo API token from file (stored in n8n data dir, not hardcoded).\n * Path inside container: /home/node/.n8n/forgejo-token\n */\nfunction getToken() {\n  return fs.readFileSync('/home/node/.n8n/forgejo-token', 'utf-8').trim();\n}\n\n/**\n * Call Forgejo API via wget (available on Alpine, curl is not).\n * Returns parsed JSON or throws on error.\n */\nfunction forgejoGet(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  const result = execFileSync('wget', [\n    '-q', '-O', '-',\n    '--header=Authorization: token ' + token,\n    url\n  ], { encoding: 'utf-8', timeout: 15000 });\n  return JSON.parse(result);\n}\n\n/**\n * Fetch raw text (for .diff endpoints) via wget.\n * Returns raw string or null on error.\n */\nfunction forgejoGetRaw(path) {\n  const token = getToken();\n  const url = 'https://YOUR_FORGEJO_DOMAIN/api/v1' + path;\n  try {\n    return execFileSync('wget', [\n      '-q', '-O', '-',\n      '--header=Authorization: token ' + token,\n      url\n    ], { encoding: 'utf-8', timeout: 15000 });\n  } catch (e) {\n    return null;\n  }\n}\n\nconst body = $input.first().json.body;\nconst repo = body.repo;\nconst sha = body.sha;\n\nif (!sha) {\n  return [{ json: { success: false, error: 'sha parameter is required', repo } }];\n}\n\ntry {\n  // Forgejo /git/commits/{sha} returns commit metadata + files + stats\n  // Accepts short or full SHA\n  const data = forgejoGet(\n    `/repos/stmna-io/${encodeURIComponent(repo)}/git/commits/${encodeURIComponent(sha)}`\n  );\n\n  const response = {\n    success: true,\n    sha: data.sha || sha,\n    message: (data.commit && data.commit.message) || '',\n    date: (data.commit && data.commit.author && data.commit.author.date) || data.created || '',\n    repo\n  };\n\n  // Stats: total additions/deletions for the commit\n  if (data.stats) {\n    response.stats = {\n      additions: data.stats.additions || 0,\n      deletions: data.stats.deletions || 0,\n      total: data.stats.total || 0\n    };\n  }\n\n  // Files: which files changed and how\n  if (data.files && Array.isArray(data.files)) {\n    response.files = data.files.map(f => ({\n      filename: f.filename,\n      status: f.status  // \"added\", \"modified\", \"removed\"\n    }));\n  }\n\n  // Parent SHA (useful for comparing versions with repo_read)\n  if (data.parents && data.parents.length > 0) {\n    response.parent_sha = data.parents[0].sha;\n  }\n\n  return [{ json: response }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message, sha, repo } }];\n}\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          632
        ],
        "id": "YOUR_UUID",
        "name": "Repo Diff"
      },
      {
        "parameters": {
          "jsCode": "const { execFileSync } = require('child_process');\n\n/**\n * Embed Query — Calls TEI to get a 1024-dim vector for semantic search.\n *\n * Input (from webhook body):\n *   - query: string (required) — the search text\n *   - type_filter: string (optional) — filter by metadata type\n *   - top_k: number (optional, default 5, max 20)\n */\nconst body = $input.first().json.body;\nconst query = body.query;\nconst typeFilter = body.type_filter || null;\nconst topK = Math.min(Math.max(parseInt(body.top_k) || 5, 1), 20);\n\nif (!query || query.trim().length === 0) {\n  return [{ json: { success: false, error: 'query parameter is required' } }];\n}\n\n// Validate type_filter (alphanumeric + hyphen only)\nif (typeFilter && !/^[a-z0-9_-]+$/i.test(typeFilter)) {\n  return [{ json: { success: false, error: 'Invalid type_filter value' } }];\n}\n\ntry {\n  const payload = JSON.stringify({ inputs: [query.trim()] });\n\n  // Call TEI via wget (Alpine container — no curl)\n  const result = execFileSync('wget', [\n    '-q', '-O', '-',\n    '--post-data=' + payload,\n    '--header=Content-Type: application/json',\n    '--timeout=30',\n    'http://text-embeddings:80/embed'\n  ], { encoding: 'utf-8', timeout: 35000 });\n\n  const embeddings = JSON.parse(result);\n  const vector = embeddings[0];\n\n  if (!Array.isArray(vector) || vector.length !== 1024) {\n    return [{ json: {\n      success: false,\n      error: 'TEI returned unexpected shape: ' + (Array.isArray(vector) ? vector.length : typeof vector)\n    } }];\n  }\n\n  // Format as PostgreSQL vector literal\n  const vectorStr = '[' + vector.join(',') + ']';\n\n  return [{ json: { query: query.trim(), typeFilter, topK, vectorStr } }];\n} catch (err) {\n  return [{ json: { success: false, error: 'Embedding failed: ' + err.message } }];\n}\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          776
        ],
        "id": "YOUR_UUID",
        "name": "Embed Query"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT file_path, heading, LEFT(content, 500) as content_snippet, metadata->>'type' as type, metadata->>'title' as title, ROUND((1 - (embedding <=> '{{ $json.vectorStr }}'::vector))::numeric, 4) as similarity FROM vault_embeddings WHERE ({{ $json.typeFilter ? \"metadata->>'type' = '\" + $json.typeFilter + \"'\" : \"TRUE\" }}) ORDER BY embedding <=> '{{ $json.vectorStr }}'::vector LIMIT {{ $json.topK }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          960,
          776
        ],
        "id": "YOUR_UUID",
        "name": "Search PGVector",
        "credentials": {
          "postgres": {
            "id": "PctDF92gLPazUEUV",
            "name": "Postgres Signal"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "/**\n * Format Search Results — formats PGVector output into clean response.\n * PostgreSQL nodes don't pass through input, so we reference Embed Query directly.\n */\nconst embedData = $('Embed Query').first().json;\n\n// Check if Embed Query itself returned an error\nif (embedData.success === false) {\n  return [{ json: embedData }];\n}\n\n// Get all items from the PostgreSQL node output\nconst results = $input.all().map(item => item.json);\n\n// Handle no results\nif (!results || results.length === 0 || !results[0].file_path) {\n  return [{ json: {\n    success: true,\n    query: embedData.query,\n    type_filter: embedData.typeFilter,\n    results: [],\n    count: 0,\n    message: 'No matching vault entries found'\n  } }];\n}\n\n// Format results\nconst formatted = results.map(r => ({\n  file_path: r.file_path,\n  heading: r.heading || null,\n  content_snippet: r.content_snippet,\n  type: r.type || null,\n  title: r.title || null,\n  similarity: parseFloat(r.similarity)\n}));\n\nreturn [{ json: {\n  success: true,\n  query: embedData.query,\n  type_filter: embedData.typeFilter,\n  results: formatted,\n  count: formatted.length\n} }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1264,
          776
        ],
        "id": "YOUR_UUID",
        "name": "Format Search Results"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Git Pull",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Git Pull": {
        "main": [
          [
            {
              "node": "Route Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Action": {
        "main": [
          [
            {
              "node": "Read File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Write File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "List Directory",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Directory",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Delete File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Rename",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Git Commit",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Repo Read File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Repo List Dir",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Repo Commits",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Repo Diff",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Embed Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write File": {
        "main": [
          [
            {
              "node": "Git Commit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Directory": {
        "main": [
          [
            {
              "node": "Git Commit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete File": {
        "main": [
          [
            {
              "node": "Git Commit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rename": {
        "main": [
          [
            {
              "node": "Git Commit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embed Query": {
        "main": [
          [
            {
              "node": "Search PGVector",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search PGVector": {
        "main": [
          [
            {
              "node": "Format Search Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "import",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": []
  }
}