workflows/vault-embedding.json
{
  "name": "Vault_Embedding_Pipeline",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vault-embedding",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "id": "YOUR_UUID",
      "name": "Webhook",
      "webhookId": "vault-embed-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Git Pull \u2014 Ensures /vault/ is up-to-date before reading files.\n * Uses git -c safe.directory=/vault since the task runner doesn't\n * inherit the container's GIT_CONFIG_GLOBAL env var.\n */\nconst { execSync } = require('child_process');\nconst GIT = 'git -c safe.directory=/vault';\n\n// Stash uncommitted changes to prevent pull conflicts\nlet hasStash = false;\ntry {\n  execSync(`cd /vault && ${GIT} add -A`, { encoding: 'utf-8', timeout: 5000 });\n  const out = execSync(`cd /vault && ${GIT} stash`, { encoding: 'utf-8', timeout: 5000 });\n  hasStash = !out.includes('No local changes');\n} catch (e) { /* nothing to stash */ }\n\ntry {\n  execSync(`cd /vault && ${GIT} pull --ff-only`, { encoding: 'utf-8', timeout: 15000 });\n} catch (err) {\n  try {\n    execSync(`cd /vault && ${GIT} pull --rebase`, { encoding: 'utf-8', timeout: 15000 });\n  } catch (e2) {\n    if (hasStash) try { execSync(`cd /vault && ${GIT} stash pop`, { encoding: 'utf-8' }); } catch(e) {}\n    throw new Error('Git pull failed: ' + e2.message);\n  }\n}\n\nif (hasStash) {\n  try { execSync(`cd /vault && ${GIT} stash pop`, { encoding: 'utf-8', timeout: 5000 }); } catch(e) {}\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "id": "YOUR_UUID",
      "name": "Git Pull"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Process & Embed \u2014 Core pipeline logic.\n *\n * 1. Parses Forgejo push webhook payload for changed .md files\n * 2. Filters excluded paths (system/, private, assets, .obsidian/)\n * 3. Loop prevention: skips commits from n8n/vault-embedding authors\n * 4. Reads files from /vault/, computes SHA256, parses YAML frontmatter\n * 5. Chunks content by ## headings with paragraph-boundary splitting\n * 6. Calls TEI embedding API via wget/spawn for each chunk batch\n * 7. Builds pre-formatted SQL (DELETE old + INSERT new) for each file\n * 8. Outputs items with {query} for the PostgreSQL Execute node\n * 9. Final item has {_isSummary: true} for the response branch\n *\n * Architecture notes:\n *   - Items are ordered: DELETEs before INSERTs per file.\n *     The downstream PostgreSQL node processes items sequentially,\n *     so deletes complete before inserts for the same file_path.\n *   - SQL is pre-built here (with proper escaping) rather than using\n *     n8n expression interpolation, which is fragile with special chars.\n *   - TEI is called in batches of 8 (max_batch_requests).\n *   - spawn('wget') used instead of execFileSync to avoid blocking\n *     the event loop and causing task runner heartbeat failures.\n */\nconst { execFileSync, spawn } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\n\n// \u2500\u2500\u2500 Configuration \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst VAULT_PATH = '/vault';\nconst TEI_URL = 'http://text-embeddings:80/v1/embeddings';\nconst TEI_MODEL = 'pplx-embed-context-v1-0.6b';\nconst TEI_BATCH_SIZE = 8;\n\nconst EXCLUDE_PREFIXES = [\n  'system/', '.obsidian/', 'assets/', '.git/',\n  '80-PERSONAL/84-Private/', '14-Operations/Legal/clients/'\n];\nconst SKIP_AUTHORS = ['n8n-vault', 'vault-embedding', 'n8n'];\n\nconst MAX_CHUNK_CHARS = 2500;\nconst OVERLAP_CHARS = 200;\nconst MIN_CHUNK_CHARS = 50;\nconst MIN_FILE_CHARS = 100;\n\n// \u2500\u2500\u2500 HTTP POST via wget (async, non-blocking) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction httpPost(url, bodyObj) {\n  return new Promise((resolve, reject) => {\n    const id = Date.now() + '-' + Math.random().toString(36).slice(2, 8);\n    const tmpIn = `/tmp/embed-req-${id}.json`;\n    const tmpOut = `/tmp/embed-res-${id}.json`;\n    fs.writeFileSync(tmpIn, JSON.stringify(bodyObj));\n\n    const proc = spawn('wget', [\n      '-q', '-O', tmpOut,\n      '--header=Content-Type: application/json',\n      `--post-file=${tmpIn}`,\n      '--timeout=60',\n      url\n    ]);\n\n    let stderr = '';\n    proc.stderr.on('data', d => stderr += d.toString());\n\n    proc.on('close', code => {\n      try { fs.unlinkSync(tmpIn); } catch(e) {}\n      if (code !== 0) {\n        try { fs.unlinkSync(tmpOut); } catch(e) {}\n        return reject(new Error(`wget exit ${code}: ${stderr}`));\n      }\n      try {\n        const res = JSON.parse(fs.readFileSync(tmpOut, 'utf-8'));\n        fs.unlinkSync(tmpOut);\n        resolve(res);\n      } catch(e) {\n        try { fs.unlinkSync(tmpOut); } catch(e2) {}\n        reject(new Error('TEI parse error: ' + e.message));\n      }\n    });\n    proc.on('error', err => {\n      try { fs.unlinkSync(tmpIn); } catch(e) {}\n      reject(err);\n    });\n  });\n}\n\n// \u2500\u2500\u2500 Batch embed via TEI \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nasync function embedBatch(texts) {\n  const res = await httpPost(TEI_URL, { input: texts, model: TEI_MODEL });\n  return res.data.sort((a, b) => a.index - b.index).map(d => d.embedding);\n}\n\nasync function embedAllChunks(chunks) {\n  const all = [];\n  for (let i = 0; i < chunks.length; i += TEI_BATCH_SIZE) {\n    const batch = chunks.slice(i, i + TEI_BATCH_SIZE);\n    const embs = await embedBatch(batch.map(c => c.content));\n    all.push(...embs);\n  }\n  return all;\n}\n\n// \u2500\u2500\u2500 Parse YAML frontmatter \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction parseFrontmatter(content) {\n  const m = content.match(/^---\\n([\\s\\S]*?)\\n---/);\n  if (!m) return { metadata: {}, body: content };\n  const body = content.slice(m[0].length).trim();\n  const metadata = {};\n  for (const line of m[1].split('\\n')) {\n    const kv = line.match(/^([\\w][\\w-]*):\\s*(.*)/);\n    if (!kv) continue;\n    let val = kv[2].trim();\n    if (val.startsWith('[') && val.endsWith(']')) {\n      val = val.slice(1,-1).split(',').map(s => s.trim().replace(/^[\"']|[\"']$/g,'')).filter(Boolean);\n    } else if ((val.startsWith('\"') && val.endsWith('\"')) || (val.startsWith(\"'\") && val.endsWith(\"'\"))) {\n      val = val.slice(1,-1);\n    }\n    metadata[kv[1]] = val;\n  }\n  return { metadata, body };\n}\n\n// \u2500\u2500\u2500 Chunk by ## headings \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction chunkByHeadings(body, title) {\n  const lines = body.split('\\n');\n  const secs = [];\n  let hd = '', buf = [];\n  for (const line of lines) {\n    const hm = line.match(/^##\\s+(.+)/);\n    if (hm) {\n      if (buf.length) { const t = buf.join('\\n').trim(); if (t.length >= MIN_CHUNK_CHARS) secs.push({heading:hd, text:t}); }\n      hd = hm[1].trim(); buf = [];\n    } else buf.push(line);\n  }\n  if (buf.length) { const t = buf.join('\\n').trim(); if (t.length >= MIN_CHUNK_CHARS) secs.push({heading:hd, text:t}); }\n  if (!secs.length && body.trim().length >= MIN_CHUNK_CHARS) secs.push({heading:'', text:body.trim()});\n\n  // Split long sections\n  const split = [];\n  for (const s of secs) {\n    if (s.text.length <= MAX_CHUNK_CHARS) { split.push(s); continue; }\n    const paras = s.text.split(/\\n\\n+/);\n    let cur = '', sub = 0;\n    for (const p of paras) {\n      if (cur.length + p.length > MAX_CHUNK_CHARS && cur.length > 0) {\n        split.push({heading: s.heading + (sub > 0 ? ' (cont.)' : ''), text: cur.trim()});\n        cur = cur.slice(-OVERLAP_CHARS) + '\\n\\n' + p; sub++;\n      } else cur += (cur ? '\\n\\n' : '') + p;\n    }\n    if (cur.trim().length >= MIN_CHUNK_CHARS)\n      split.push({heading: s.heading + (sub > 0 ? ' (cont.)' : ''), text: cur.trim()});\n  }\n\n  return split.map((s, i) => ({\n    heading: s.heading || null,\n    content: `${title}${s.heading ? ' \\u2014 ' + s.heading : ''}\\n\\n${s.text}`,\n    chunk_index: i\n  }));\n}\n\n// \u2500\u2500\u2500 SHA256 (crypto blocked in sandbox) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction sha256(text) {\n  const tmp = '/tmp/h-' + Date.now() + '-' + Math.random().toString(36).slice(2,6);\n  fs.writeFileSync(tmp, text);\n  const h = execFileSync('sha256sum', [tmp], {encoding:'utf-8'}).split(/\\s/)[0];\n  try { fs.unlinkSync(tmp); } catch(e) {}\n  return h;\n}\n\n// \u2500\u2500\u2500 PostgreSQL string escape \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Dollar-quoting avoids issues with single quotes and backslashes.\n// Uses $VE$...$VE$ tag (Vault Embedding) to avoid conflicts.\nfunction pgStr(str) {\n  if (str === null || str === undefined) return 'NULL';\n  // If the string contains $VE$, fall back to standard escaping\n  const s = String(str);\n  if (s.includes('$VE$')) {\n    return \"E'\" + s.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\") + \"'\";\n  }\n  return '$VE$' + s + '$VE$';\n}\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nasync function main() {\n  const input = $input.first().json;\n  const body = input.body || input;\n  const commits = body.commits || [];\n\n  // \u2500\u2500 Loop prevention \u2500\u2500\n  if (!commits.length)\n    return [{ json: { _isSummary: true, status: 'skipped', reason: 'no commits' } }];\n\n  if (commits.every(c => {\n    const a = (c.committer?.name || c.author?.name || '').toLowerCase();\n    return SKIP_AUTHORS.some(s => a.includes(s));\n  }))\n    return [{ json: { _isSummary: true, status: 'skipped', reason: 'pipeline commits only' } }];\n\n  if (commits.some(c => (c.message||'').includes('[skip-embed]')))\n    return [{ json: { _isSummary: true, status: 'skipped', reason: '[skip-embed]' } }];\n\n  // \u2500\u2500 Parse changed files \u2500\u2500\n  const addMod = new Set(), rem = new Set();\n  for (const c of commits) {\n    const a = (c.committer?.name || c.author?.name || '').toLowerCase();\n    if (SKIP_AUTHORS.some(s => a.includes(s))) continue;\n    for (const f of (c.added||[])) { if (f.endsWith('.md') && !EXCLUDE_PREFIXES.some(p=>f.startsWith(p))) { rem.delete(f); addMod.add(f); } }\n    for (const f of (c.modified||[])) { if (f.endsWith('.md') && !EXCLUDE_PREFIXES.some(p=>f.startsWith(p))) addMod.add(f); }\n    for (const f of (c.removed||[])) { if (f.endsWith('.md') && !EXCLUDE_PREFIXES.some(p=>f.startsWith(p))) { addMod.delete(f); rem.add(f); } }\n  }\n\n  if (!addMod.size && !rem.size)\n    return [{ json: { _isSummary: true, status: 'skipped', reason: 'no eligible .md files' } }];\n\n  // \u2500\u2500 Process files \u2500\u2500\n  const items = [];\n  const stats = { files_processed: 0, files_deleted: 0, files_skipped: 0, total_chunks: 0, errors: [] };\n\n  // Removed files\n  for (const fp of rem) {\n    items.push({ json: { query: `DELETE FROM vault_embeddings WHERE file_path = ${pgStr(fp)};` } });\n    stats.files_deleted++;\n  }\n\n  // Added/modified files\n  for (const fp of addMod) {\n    try {\n      const full = path.join(VAULT_PATH, fp);\n      if (!fs.existsSync(full)) { stats.errors.push(fp + ': not found'); continue; }\n      const content = fs.readFileSync(full, 'utf-8');\n      if (content.trim().length < MIN_FILE_CHARS) { stats.files_skipped++; continue; }\n\n      const fileHash = sha256(content);\n      const { metadata, body: bodyText } = parseFrontmatter(content);\n      const title = metadata.title || path.basename(fp, '.md').replace(/-/g, ' ').replace(/^\\d{4}-\\d{2}-\\d{2}_?/, '').trim();\n\n      const meta = {\n        type: metadata.type || 'unknown',\n        tags: Array.isArray(metadata.tags) ? metadata.tags : [],\n        created: metadata.created || null,\n        updated: metadata.updated || null,\n        source: metadata.source || null,\n        vault_path: fp,\n        title\n      };\n\n      const chunks = chunkByHeadings(bodyText, title);\n      if (!chunks.length) { stats.files_skipped++; continue; }\n\n      const embeddings = await embedAllChunks(chunks);\n\n      // DELETE old chunks first\n      items.push({ json: { query: `DELETE FROM vault_embeddings WHERE file_path = ${pgStr(fp)};` } });\n\n      // INSERT new chunks\n      for (let i = 0; i < chunks.length; i++) {\n        const ch = chunks[i];\n        const embStr = '[' + embeddings[i].join(',') + ']';\n        items.push({ json: {\n          query: `INSERT INTO vault_embeddings (file_path, chunk_index, heading, content, embedding, metadata, file_hash, updated_at) VALUES (${pgStr(fp)}, ${ch.chunk_index}, ${ch.heading !== null ? pgStr(ch.heading) : 'NULL'}, ${pgStr(ch.content)}, '${embStr}'::vector, ${pgStr(JSON.stringify(meta))}::jsonb, ${pgStr(fileHash)}, NOW());`\n        } });\n        stats.total_chunks++;\n      }\n      stats.files_processed++;\n    } catch (e) {\n      stats.errors.push(fp + ': ' + e.message);\n    }\n  }\n\n  // Append summary as last item\n  items.push({ json: { _isSummary: true, status: 'ok', ...stats } });\n  return items;\n}\n\nreturn await main();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "id": "YOUR_UUID",
      "name": "Process & Embed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json._isSummary }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "id": "cond-is-summary"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        300
      ],
      "id": "YOUR_UUID",
      "name": "Is Summary?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        200
      ],
      "id": "YOUR_UUID",
      "name": "Respond OK"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        900,
        400
      ],
      "id": "YOUR_UUID",
      "name": "Execute SQL",
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "YOUR_POSTGRES_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "content": "## Vault Embedding Pipeline\n\nTriggered by Forgejo webhook on push to second-brain repo. Pulls latest vault changes, chunks modified .md files by headings, generates embeddings via TEI, and upserts into PGVector.\n\nTrigger: Forgejo push webhook\nOutput: Embedded vault chunks in vault_embeddings table",
        "height": 200,
        "width": 420,
        "color": "#4c6ef5"
      },
      "id": "6f07bd25-e914-4267-8c83-bb04c2f26643",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        100
      ]
    },
    {
      "parameters": {
        "content": "## Processing\n\nSingle Code node handles: parse webhook payload for changed .md files, chunk content by headings (target 2500 chars), call TEI for embeddings in batches, and build SQL upsert queries.",
        "height": 160,
        "width": 380,
        "color": "#4c6ef5"
      },
      "id": "f8e2413b-d176-4569-be1a-341df20ab05c",
      "name": "Section: Process & Embed",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        100
      ]
    },
    {
      "parameters": {
        "content": "## Output Routing\n\nIF node splits stream: summary items go to webhook response, SQL items go to PostgreSQL for vault_embeddings upserts.",
        "height": 140,
        "width": 350,
        "color": "#4c6ef5"
      },
      "id": "3e9951bf-ae02-457a-b0ef-c2f31ed8efdc",
      "name": "Section: Output Routing",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        100
      ]
    },
    {
      "parameters": {
        "content": "## Credential\n\n**Postgres Signal** (PctDF92gLPazUEUV)\n\nUsed by Execute SQL node for vault_embeddings upserts.",
        "height": 120,
        "width": 280,
        "color": "#e03e3e"
      },
      "id": "cb257ad7-8420-4d27-8715-0029de68e268",
      "name": "Credential: Postgres Signal",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        480
      ]
    },
    {
      "parameters": {
        "content": "## User Config\n\nIn Process & Embed Code node:\n- `TEI_URL`: embedding endpoint (default: http://text-embeddings:80/v1/embeddings)\n- `TEI_MODEL`: model name\n- `TEI_BATCH_SIZE`: requests per batch (8)\n- `MAX_CHUNK_CHARS` (2500), `OVERLAP_CHARS` (200)\n- `EXCLUDE_PREFIXES`: vault paths to skip\n- `SKIP_AUTHORS`: commit authors to ignore",
        "height": 200,
        "width": 380,
        "color": "#f59f00"
      },
      "id": "e1e05710-5856-4e1d-94a9-7be53aede64e",
      "name": "Config: TEI & Chunking",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        480
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Git Pull",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Pull": {
      "main": [
        [
          {
            "node": "Process & Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Embed": {
      "main": [
        [
          {
            "node": "Is Summary?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Summary?": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": null,
  "activeVersionId": "YOUR_UUID",
  "versionCounter": 8,
  "triggerCount": 1,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-03T12:46:33.102Z",
    "createdAt": "2026-03-03T12:46:33.102Z",
    "versionId": "YOUR_UUID",
    "workflowId": "22edbaJ5reT6hEul",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "vault-embedding",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          300
        ],
        "id": "YOUR_UUID",
        "name": "Webhook",
        "webhookId": "vault-embed-webhook-001"
      },
      {
        "parameters": {
          "jsCode": "/**\n * Git Pull \u2014 Ensures /vault/ is up-to-date before reading files.\n * Uses git -c safe.directory=/vault since the task runner doesn't\n * inherit the container's GIT_CONFIG_GLOBAL env var.\n */\nconst { execSync } = require('child_process');\nconst GIT = 'git -c safe.directory=/vault';\n\n// Stash uncommitted changes to prevent pull conflicts\nlet hasStash = false;\ntry {\n  execSync(`cd /vault && ${GIT} add -A`, { encoding: 'utf-8', timeout: 5000 });\n  const out = execSync(`cd /vault && ${GIT} stash`, { encoding: 'utf-8', timeout: 5000 });\n  hasStash = !out.includes('No local changes');\n} catch (e) { /* nothing to stash */ }\n\ntry {\n  execSync(`cd /vault && ${GIT} pull --ff-only`, { encoding: 'utf-8', timeout: 15000 });\n} catch (err) {\n  try {\n    execSync(`cd /vault && ${GIT} pull --rebase`, { encoding: 'utf-8', timeout: 15000 });\n  } catch (e2) {\n    if (hasStash) try { execSync(`cd /vault && ${GIT} stash pop`, { encoding: 'utf-8' }); } catch(e) {}\n    throw new Error('Git pull failed: ' + e2.message);\n  }\n}\n\nif (hasStash) {\n  try { execSync(`cd /vault && ${GIT} stash pop`, { encoding: 'utf-8', timeout: 5000 }); } catch(e) {}\n}\n\nreturn $input.all();\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          220,
          300
        ],
        "id": "YOUR_UUID",
        "name": "Git Pull"
      },
      {
        "parameters": {
          "jsCode": "/**\n * Process & Embed \u2014 Core pipeline logic.\n *\n * 1. Parses Forgejo push webhook payload for changed .md files\n * 2. Filters excluded paths (system/, private, assets, .obsidian/)\n * 3. Loop prevention: skips commits from n8n/vault-embedding authors\n * 4. Reads files from /vault/, computes SHA256, parses YAML frontmatter\n * 5. Chunks content by ## headings with paragraph-boundary splitting\n * 6. Calls TEI embedding API via wget/spawn for each chunk batch\n * 7. Builds pre-formatted SQL (DELETE old + INSERT new) for each file\n * 8. Outputs items with {query} for the PostgreSQL Execute node\n * 9. Final item has {_isSummary: true} for the response branch\n *\n * Architecture notes:\n *   - Items are ordered: DELETEs before INSERTs per file.\n *     The downstream PostgreSQL node processes items sequentially,\n *     so deletes complete before inserts for the same file_path.\n *   - SQL is pre-built here (with proper escaping) rather than using\n *     n8n expression interpolation, which is fragile with special chars.\n *   - TEI is called in batches of 8 (max_batch_requests).\n *   - spawn('wget') used instead of execFileSync to avoid blocking\n *     the event loop and causing task runner heartbeat failures.\n */\nconst { execFileSync, spawn } = require('child_process');\nconst fs = require('fs');\nconst path = require('path');\n\n// \u2500\u2500\u2500 Configuration \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst VAULT_PATH = '/vault';\nconst TEI_URL = 'http://text-embeddings:80/v1/embeddings';\nconst TEI_MODEL = 'pplx-embed-context-v1-0.6b';\nconst TEI_BATCH_SIZE = 8;\n\nconst EXCLUDE_PREFIXES = [\n  'system/', '.obsidian/', 'assets/', '.git/',\n  '80-PERSONAL/84-Private/', '14-Operations/Legal/clients/'\n];\nconst SKIP_AUTHORS = ['n8n-vault', 'vault-embedding', 'n8n'];\n\nconst MAX_CHUNK_CHARS = 2500;\nconst OVERLAP_CHARS = 200;\nconst MIN_CHUNK_CHARS = 50;\nconst MIN_FILE_CHARS = 100;\n\n// \u2500\u2500\u2500 HTTP POST via wget (async, non-blocking) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction httpPost(url, bodyObj) {\n  return new Promise((resolve, reject) => {\n    const id = Date.now() + '-' + Math.random().toString(36).slice(2, 8);\n    const tmpIn = `/tmp/embed-req-${id}.json`;\n    const tmpOut = `/tmp/embed-res-${id}.json`;\n    fs.writeFileSync(tmpIn, JSON.stringify(bodyObj));\n\n    const proc = spawn('wget', [\n      '-q', '-O', tmpOut,\n      '--header=Content-Type: application/json',\n      `--post-file=${tmpIn}`,\n      '--timeout=60',\n      url\n    ]);\n\n    let stderr = '';\n    proc.stderr.on('data', d => stderr += d.toString());\n\n    proc.on('close', code => {\n      try { fs.unlinkSync(tmpIn); } catch(e) {}\n      if (code !== 0) {\n        try { fs.unlinkSync(tmpOut); } catch(e) {}\n        return reject(new Error(`wget exit ${code}: ${stderr}`));\n      }\n      try {\n        const res = JSON.parse(fs.readFileSync(tmpOut, 'utf-8'));\n        fs.unlinkSync(tmpOut);\n        resolve(res);\n      } catch(e) {\n        try { fs.unlinkSync(tmpOut); } catch(e2) {}\n        reject(new Error('TEI parse error: ' + e.message));\n      }\n    });\n    proc.on('error', err => {\n      try { fs.unlinkSync(tmpIn); } catch(e) {}\n      reject(err);\n    });\n  });\n}\n\n// \u2500\u2500\u2500 Batch embed via TEI \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nasync function embedBatch(texts) {\n  const res = await httpPost(TEI_URL, { input: texts, model: TEI_MODEL });\n  return res.data.sort((a, b) => a.index - b.index).map(d => d.embedding);\n}\n\nasync function embedAllChunks(chunks) {\n  const all = [];\n  for (let i = 0; i < chunks.length; i += TEI_BATCH_SIZE) {\n    const batch = chunks.slice(i, i + TEI_BATCH_SIZE);\n    const embs = await embedBatch(batch.map(c => c.content));\n    all.push(...embs);\n  }\n  return all;\n}\n\n// \u2500\u2500\u2500 Parse YAML frontmatter \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction parseFrontmatter(content) {\n  const m = content.match(/^---\\n([\\s\\S]*?)\\n---/);\n  if (!m) return { metadata: {}, body: content };\n  const body = content.slice(m[0].length).trim();\n  const metadata = {};\n  for (const line of m[1].split('\\n')) {\n    const kv = line.match(/^([\\w][\\w-]*):\\s*(.*)/);\n    if (!kv) continue;\n    let val = kv[2].trim();\n    if (val.startsWith('[') && val.endsWith(']')) {\n      val = val.slice(1,-1).split(',').map(s => s.trim().replace(/^[\"']|[\"']$/g,'')).filter(Boolean);\n    } else if ((val.startsWith('\"') && val.endsWith('\"')) || (val.startsWith(\"'\") && val.endsWith(\"'\"))) {\n      val = val.slice(1,-1);\n    }\n    metadata[kv[1]] = val;\n  }\n  return { metadata, body };\n}\n\n// \u2500\u2500\u2500 Chunk by ## headings \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction chunkByHeadings(body, title) {\n  const lines = body.split('\\n');\n  const secs = [];\n  let hd = '', buf = [];\n  for (const line of lines) {\n    const hm = line.match(/^##\\s+(.+)/);\n    if (hm) {\n      if (buf.length) { const t = buf.join('\\n').trim(); if (t.length >= MIN_CHUNK_CHARS) secs.push({heading:hd, text:t}); }\n      hd = hm[1].trim(); buf = [];\n    } else buf.push(line);\n  }\n  if (buf.length) { const t = buf.join('\\n').trim(); if (t.length >= MIN_CHUNK_CHARS) secs.push({heading:hd, text:t}); }\n  if (!secs.length && body.trim().length >= MIN_CHUNK_CHARS) secs.push({heading:'', text:body.trim()});\n\n  // Split long sections\n  const split = [];\n  for (const s of secs) {\n    if (s.text.length <= MAX_CHUNK_CHARS) { split.push(s); continue; }\n    const paras = s.text.split(/\\n\\n+/);\n    let cur = '', sub = 0;\n    for (const p of paras) {\n      if (cur.length + p.length > MAX_CHUNK_CHARS && cur.length > 0) {\n        split.push({heading: s.heading + (sub > 0 ? ' (cont.)' : ''), text: cur.trim()});\n        cur = cur.slice(-OVERLAP_CHARS) + '\\n\\n' + p; sub++;\n      } else cur += (cur ? '\\n\\n' : '') + p;\n    }\n    if (cur.trim().length >= MIN_CHUNK_CHARS)\n      split.push({heading: s.heading + (sub > 0 ? ' (cont.)' : ''), text: cur.trim()});\n  }\n\n  return split.map((s, i) => ({\n    heading: s.heading || null,\n    content: `${title}${s.heading ? ' \\u2014 ' + s.heading : ''}\\n\\n${s.text}`,\n    chunk_index: i\n  }));\n}\n\n// \u2500\u2500\u2500 SHA256 (crypto blocked in sandbox) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction sha256(text) {\n  const tmp = '/tmp/h-' + Date.now() + '-' + Math.random().toString(36).slice(2,6);\n  fs.writeFileSync(tmp, text);\n  const h = execFileSync('sha256sum', [tmp], {encoding:'utf-8'}).split(/\\s/)[0];\n  try { fs.unlinkSync(tmp); } catch(e) {}\n  return h;\n}\n\n// \u2500\u2500\u2500 PostgreSQL string escape \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Dollar-quoting avoids issues with single quotes and backslashes.\n// Uses $VE$...$VE$ tag (Vault Embedding) to avoid conflicts.\nfunction pgStr(str) {\n  if (str === null || str === undefined) return 'NULL';\n  // If the string contains $VE$, fall back to standard escaping\n  const s = String(str);\n  if (s.includes('$VE$')) {\n    return \"E'\" + s.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\") + \"'\";\n  }\n  return '$VE$' + s + '$VE$';\n}\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nasync function main() {\n  const input = $input.first().json;\n  const body = input.body || input;\n  const commits = body.commits || [];\n\n  // \u2500\u2500 Loop prevention \u2500\u2500\n  if (!commits.length)\n    return [{ json: { _isSummary: true, status: 'skipped', reason: 'no commits' } }];\n\n  if (commits.every(c => {\n    const a = (c.committer?.name || c.author?.name || '').toLowerCase();\n    return SKIP_AUTHORS.some(s => a.includes(s));\n  }))\n    return [{ json: { _isSummary: true, status: 'skipped', reason: 'pipeline commits only' } }];\n\n  if (commits.some(c => (c.message||'').includes('[skip-embed]')))\n    return [{ json: { _isSummary: true, status: 'skipped', reason: '[skip-embed]' } }];\n\n  // \u2500\u2500 Parse changed files \u2500\u2500\n  const addMod = new Set(), rem = new Set();\n  for (const c of commits) {\n    const a = (c.committer?.name || c.author?.name || '').toLowerCase();\n    if (SKIP_AUTHORS.some(s => a.includes(s))) continue;\n    for (const f of (c.added||[])) { if (f.endsWith('.md') && !EXCLUDE_PREFIXES.some(p=>f.startsWith(p))) { rem.delete(f); addMod.add(f); } }\n    for (const f of (c.modified||[])) { if (f.endsWith('.md') && !EXCLUDE_PREFIXES.some(p=>f.startsWith(p))) addMod.add(f); }\n    for (const f of (c.removed||[])) { if (f.endsWith('.md') && !EXCLUDE_PREFIXES.some(p=>f.startsWith(p))) { addMod.delete(f); rem.add(f); } }\n  }\n\n  if (!addMod.size && !rem.size)\n    return [{ json: { _isSummary: true, status: 'skipped', reason: 'no eligible .md files' } }];\n\n  // \u2500\u2500 Process files \u2500\u2500\n  const items = [];\n  const stats = { files_processed: 0, files_deleted: 0, files_skipped: 0, total_chunks: 0, errors: [] };\n\n  // Removed files\n  for (const fp of rem) {\n    items.push({ json: { query: `DELETE FROM vault_embeddings WHERE file_path = ${pgStr(fp)};` } });\n    stats.files_deleted++;\n  }\n\n  // Added/modified files\n  for (const fp of addMod) {\n    try {\n      const full = path.join(VAULT_PATH, fp);\n      if (!fs.existsSync(full)) { stats.errors.push(fp + ': not found'); continue; }\n      const content = fs.readFileSync(full, 'utf-8');\n      if (content.trim().length < MIN_FILE_CHARS) { stats.files_skipped++; continue; }\n\n      const fileHash = sha256(content);\n      const { metadata, body: bodyText } = parseFrontmatter(content);\n      const title = metadata.title || path.basename(fp, '.md').replace(/-/g, ' ').replace(/^\\d{4}-\\d{2}-\\d{2}_?/, '').trim();\n\n      const meta = {\n        type: metadata.type || 'unknown',\n        tags: Array.isArray(metadata.tags) ? metadata.tags : [],\n        created: metadata.created || null,\n        updated: metadata.updated || null,\n        source: metadata.source || null,\n        vault_path: fp,\n        title\n      };\n\n      const chunks = chunkByHeadings(bodyText, title);\n      if (!chunks.length) { stats.files_skipped++; continue; }\n\n      const embeddings = await embedAllChunks(chunks);\n\n      // DELETE old chunks first\n      items.push({ json: { query: `DELETE FROM vault_embeddings WHERE file_path = ${pgStr(fp)};` } });\n\n      // INSERT new chunks\n      for (let i = 0; i < chunks.length; i++) {\n        const ch = chunks[i];\n        const embStr = '[' + embeddings[i].join(',') + ']';\n        items.push({ json: {\n          query: `INSERT INTO vault_embeddings (file_path, chunk_index, heading, content, embedding, metadata, file_hash, updated_at) VALUES (${pgStr(fp)}, ${ch.chunk_index}, ${ch.heading !== null ? pgStr(ch.heading) : 'NULL'}, ${pgStr(ch.content)}, '${embStr}'::vector, ${pgStr(JSON.stringify(meta))}::jsonb, ${pgStr(fileHash)}, NOW());`\n        } });\n        stats.total_chunks++;\n      }\n      stats.files_processed++;\n    } catch (e) {\n      stats.errors.push(fp + ': ' + e.message);\n    }\n  }\n\n  // Append summary as last item\n  items.push({ json: { _isSummary: true, status: 'ok', ...stats } });\n  return items;\n}\n\nreturn await main();\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          300
        ],
        "id": "YOUR_UUID",
        "name": "Process & Embed"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "leftValue": "={{ $json._isSummary }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                },
                "id": "cond-is-summary"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          660,
          300
        ],
        "id": "YOUR_UUID",
        "name": "Is Summary?"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          900,
          200
        ],
        "id": "YOUR_UUID",
        "name": "Respond OK"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ $json.query }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          900,
          400
        ],
        "id": "YOUR_UUID",
        "name": "Execute SQL",
        "credentials": {
          "postgres": {
            "id": "PctDF92gLPazUEUV",
            "name": "Postgres Signal"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Git Pull",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Git Pull": {
        "main": [
          [
            {
              "node": "Process & Embed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process & Embed": {
        "main": [
          [
            {
              "node": "Is Summary?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Summary?": {
        "main": [
          [
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute SQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "n8n admin",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-03T12:46:39.892Z",
        "id": 602,
        "workflowId": "22edbaJ5reT6hEul",
        "versionId": "YOUR_UUID",
        "event": "activated",
        "userId": "YOUR_UUID"
      }
    ]
  }
}